
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="proyecto final curso backend basico">
   <meta name="author" content="Maria Paula Gómez Hernández">
    <title>Pro hospital</title>
</head>
<body>
    
</body>
</html>
<h1>{{title}}</h1>
<h2>Bienvenido a {{title}}</h2>
<a href="/pacientes">Lista pacientes</a>
<br>
<br>
<a href="/pacientes"><img width="400px" src="https://us.123rf.com/450wm/rawpixel/rawpixel1707/rawpixel170739801/82334854-conjunto-de-personas-diversas-utilizando-smart-phone-studio-collage.jpg?ver=6"></a>
<br>
<br>
<br>
<br>
<a href="/medicos">Lista medicos</a>
<br>
<a href="/medicos"><img width="400px" src="https://d100mj7v0l85u5.cloudfront.net/s3fs-public/registros-medicos-g.jpg"></a>
<br>
<br>
<br>
<br>
<a href="/citas">Solicitar cita</a>
<br>
<a href="/citas"target="blank_"><img width="400px" src="https://play-lh.googleusercontent.com/A9kmwxo2f7DyIa3c6QCq3-mCQ3MenMPzQ5w8BBmdXs2KJEH1WIchR2ncM9uSACdXinn6"></a>
